[submodule "gesap-api"]
	path = gesap-api
	url = git@github.com:JackFallas/gesap-api.git
[submodule "gesap-auditor"]
	path = gesap-auditor
	url = git@github.com:JackFallas/gesap-auditor.git
[submodule "gesap-patient-portal"]
	path = gesap-patient-portal
	url = git@github.com:JackFallas/gesap-patient-portal.git
[submodule "client-api-gesap"]
	path = client-api-gesap
	url = git@github.com:JackFallas/client-api-gesap.git
[submodule "client-auditor-gesap"]
	path = client-auditor-gesap
	url = git@github.com:JackFallas/client-auditor-gesap.git
[submodule "client-patient-gesap"]
	path = client-patient-gesap
	url = git@github.com:JackFallas/client-patient-gesap.git
